<h1>Kontrolki bez żadnej dodatkowej identyfikacji</h1>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Pola tekstowe</mat-card-title>
            <mat-card-content>
                <div class="form-row">
                    <label>Pole tekstowe</label>
                    <input type="text" name="pole_tekstowe" />
                </div>
                <div class="form-row">
                    <label>Pole tekstowe hasło</label>
                    <input type="password" name="pole_tekstowe_haslo" />
                </div>
                <div class="form-row">
                    <label>Wielo-liniowe pole tekstowe:</label>
                    <textarea rows="5" cols="43" name="wielo-liniowe_pole_tekstowe"></textarea>
                </div>
                <div class="form-row">
                    <label>Wyłączone Pole tekstowe</label>
                    <input type="text" name="niedostepne_pole_tekstowe_z_wartoscia" value="text 1" disabled />
                </div>
                <div class="form-row">
                    <label>Pole tekstowe hasło</label>
                    <input type="password" name="niedostepne_pole_tekstowe_haslo_z_wartoscia" value="text 2" disabled />
                </div>
                <div class="form-row">
                    <label>Wielo-liniowe pole tekstowe:</label>
                    <textarea rows="5" cols="43" name="niedostepne_wielo-liniowe_pole_tekstowe_z_wartoscia"
                        disabled>text 3</textarea>
                </div>


            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Checkboxy</mat-card-title>
            <mat-card-content>
                <div class="form-row">
                    <label>Checkbox 1</label>
                    <input type="checkbox" name="checkbox_on" value="on" checked>
                </div>
                <div class="form-row">
                    <label>Checkbox 2</label>
                    <input type="checkbox" name="checkbox_off" value="off">
                </div>
                <div class="form-row">
                    <label>Wyłączony checkbox 1</label>
                    <input type="checkbox" name="checkbox_wylaczony_on" value="on" checked disabled>
                </div>
                <div class="form-row">
                    <label>Wyłączony checkbox 2</label>
                    <input type="checkbox" name="checkbox_wylaczony_off" value="off" disabled>
                </div>



            </mat-card-content>
            <mat-card-title>Radiobutton</mat-card-title>
            <mat-card-content>
                <label>Radiobutton bez wybranej wartości domyślnej</label>

                <div>
                    <br>
                    <input type="radio" name="radio" value="radio1"> Radio 1
                    <br>
                    <input type="radio" name="radio" value="radio2"> Radio 2
                    <br>
                </div>
                <div>
                    <fieldset>
                        <legend>Radiobutton z wybraną wartością domyślną</legend>
                        <div>
                            <input type="radio" name="radio2" value="wartość 1" checked />
                            <label for="wartość 1">wartość 1</label>
                        </div>
                        <div>
                            <input type="radio" name="radio2" value="wartość 2" />
                            <label for="wartość 2">wartość 2</label>
                        </div>
                        <div>
                            <input type="radio" name="radio2" value="wartość 3" />
                            <label for="wartość 3">wartość 3</label>
                        </div>
                    </fieldset>

                    <fieldset disabled>
                        <legend>Radiobutton z wybraną bez edycji</legend>
                        <div>
                            <input type="radio" name="radio3" value="wartość 1" checked />
                            <label for="wartość 1">wartość 1</label>
                        </div>
                        <div>
                            <input type="radio" name="radio3" value="wartość 2" />
                            <label for="wartość 2">wartość 2</label>
                        </div>
                        <div>
                            <input type="radio" name="radio3" value="wartość 3" />
                            <label for="wartość 3">wartość 3</label>
                        </div>
                    </fieldset>


                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Dropdown</mat-card-title>
            <mat-card-content>

                <div class="form-row">
                    <label>Zwykły dropdown</label>
                    <select name="dropdown_pojedynczy">
                        <option value="Maths" selected>Maths</option>
                        <option value="Physics">Physics</option>
                    </select>
                </div>



                <div class="form-row">
                    <label>
                        Dropdown z wartościami poza widokiem
                    </label>
                    <select name="dropdown_wielokrotny" multiple size="3">
                        <option value="wartość 1">wartość 1</option>
                        <option value="wartość 2">wartość 2</option>
                        <option value="wartość 3">wartość 3</option>
                        <option value="wartość 4">wartość 4</option>
                        <option value="wartość 5">wartość 5</option>
                    </select>
                </div>


                <div class="form-row">
                    <label>Zwykły dropdown</label>
                    <select name="dropdown_wylacznoy" disabled>
                        <option value="Maths" selected>Maths</option>
                        <option value="Physics">Physics</option>
                    </select>
                </div>


                <div class="form-row">
                    <label>
                        Dropdown z jedną wartością odblokowaną poza widokiem
                    </label>
                    <select name="dropdnown_tylko_jedna_aktywna" multiple size="3">
                        <option value="wartość 1" disabled>wartość 1</option>
                        <option value="wartość 2" disabled>wartość 2</option>
                        <option value="wartość 3" disabled>wartość 3</option>
                        <option value="wartość 4">wartość 4</option>
                    </select>
                </div>
            </mat-card-content>
        </mat-card>



    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Przyciski</mat-card-title>
            <mat-card-content>

                <div class="form-row">
                    <label>Zwykły przycisk</label>
                    <button (click)="changeValue('zwykły 1')" name="przycisk">Przycisk</button>
                </div>

                <div class="form-row">
                    <label>Przycisk wyłączony</label>
                    <button disabled (click)="changeValue('zwykły wyłączony przycisk 1')"
                        name="przycisk_wylaczony">Przycisk wyłączony</button>
                </div>

                <div class="form-row">
                    <label>Przycisk z grafika</label>
                    <button name="przycisk_z_obrazkiem_wewnatrz">
                        <img src="assets/test.png" alt="buttonpng" height="40px" width="40px"
                            (click)="changeValue('przycisk z obrazkiem 1')" />
                    </button>
                </div>

                <div class="form-row">
                    <label>Grafika jako przycisk</label>
                    <input type="image" inputmode="true" src="assets/test.png" alt="buttonpng" class="imageButton"
                        (click)="changeValue('przycisk jako obrazek 1')" name="przycisk_jako_obrazek">
                </div>

                <p id="tekst">Przycisk: "{{label}}" został kliknięty!</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>