<h1>Różne formy identyfikacji pola tekstowego</h1>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Pola tekstowe</mat-card-title>
            <mat-card-content>
                <div class="form-row">
                    <label>Pole tekstowe z ID</label>
                    <input type="text" id="poleTekstoweZID" />
                </div>
                <div class="form-row">
                    <label>Pole tekstowe z Klasą</label>
                    <input type="text" class="poleTekstoweZKlasa" />
                </div>
                <div class="form-row">
                    <label>Pole tekstowe z nazwą</label>
                    <input type="text" name="poleTekstoweZNazwa" />
                </div>
                <div class="form-row" id="divID">
                    <label>Pole tekstowe z ID w elemencie Div</label>
                    <input type="text" />
                </div>
                <div class="form-row">
                    <label>Pole tekstowe identyfikowane za pomocą zmiennego ID</label>
                    <input type="text" [id]="zmienneID" />
                </div>
                <div class="form-row">
                    <label>Zmień ID (Obecne ID to: {{zmienneID}})</label>
                    <button (click)="changeId()">Zmień ID</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>